


	<div class="col-lg-3 col-md-12 col-sm-12 x2"  style="margin-top:100px;">
		
      <div class=" d-flex justify-content-center text-info" style="font-size:20px;">Data Options</div>
      <br>
      <button class=" btn btn-block bg-primary"> Pie chart</button>
      <br>
      <br>
  
      <button class=" btn btn-block bg-primary"> Zoom</button>
      <br>
      <br>
      <button class=" btn btn-block bg-primary"> Chart</button>
      <br>
      <br>
      <button class=" btn btn-block bg-primary"> Vis</button>
      <br>
      <br>
      <br>
    </div>